<p>
  Keys Pattern: <input [(ngModel)]="keypattern"/>
</p>

<p>
  Table Config: <input [(ngModel)]="tblConf"/>
</p>

<!-- <p>
  Duration (in seconds): <input [(ngModel)]="duration" value="Duration"/>
</p> -->
<p><input type="button" value="Start Monitor" (click)="startMonitor()">
<input type="button" value="Stop Monitor" (click)="stopMonitor()"></p>
<p>Number of parameters: {{keysToMonitor.length}}</p>

<div>
	<table>
		<thead>
			<tr>
        <th *ngFor="let colname of tblCols">{{colname}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let rediskey of keysToMonitor; let i = index">
        <td *ngFor="let colname of tblCols">{{eval(tblData[colname], rediskey, keyval[rediskey])}}</td>
			</tr>
		</tbody>
	</table>
</div>
